*.log
*.pot
*.pyc
.project
.pydevproject
sqlite3.db
*~
*.zip
*.bat
/medic_finder/static/map/getter.py
/medic_finder/static/map/4
/medic_finder/static/map/5
/medic_finder/static/map/6
/medic_finder/static/map/7
/medic_finder/static/map/0
/medic_finder/static/map/1
/medic_finder/static/map/2
/medic_finder/static/map/3

/dayz_icrc/settings.py