
.hidden {
	display: none;
}

.error {
	background-color: #e82a33;
}


/*
Color theme by usha.datadrafters @ http://kuler.adobe.com/#themeID/1959507
#7d7f77 #bbbfb2 #faffed #e82a33 #e3debc
*/

.bgcolor1 { background-color: #7d7f77; }
.bgcolor2 { background-color: #bbbfb2; }
.bgcolor3 { background-color: #faffed; }
.bgcolor4 { background-color: #e82a33; }
.bgcolor5 { background-color: #e3debc; }

/* Logo */

#logo { position: relative; width: 200px; height: 80px; }
#logo * { position: absolute; }
#logo .title { color: #e82a33; font-size: 42px; top: 0; right: 0; font-weight: bold; }
#logo .text { color: #7d7f77; font-size: 20px; right: 0; top: 30px; font-style: italic; line-height: 10px; }

/* Page */

body {
	background-color: #e3debc;
	font-size: 14px;
	font-family: Calibri, Tahoma, Verdana, Arial, SunSans-Regular, Sans-Serif;
	color: black;  
	padding:0 10px;
	margin:0;
}

p, pre, h2 {
	padding:10px;
	padding-bottom: 0;
	margin:0;
}

h1 {
	font-size: 14px;
	text-transform:uppercase;
	text-align: right;
	color: #faffed;
	background-color: #e82a33;
	padding:5px 15px;
	margin:0;
}

a, a:visited, a:active { 
	color: #e82a33;
	background-color:transparent;
	text-decoration: none; 
}

a:hover {
	color: #7d7f77;
}
 
pre { 
	color: #7d7f77;
	font-size: 13px;
	background-color:transparent;
	font-family: Courier, Monaco, Monospace;
}


#content {
	margin-left: 220px;
	padding: 10px;
	background-color: #faffed;
	color: #7d7f77;
	overflow: auto;
	font-size: medium;
}

#menu {
	position: absolute;
	width: 210px;
	left: 10px;
	padding:0;
	margin:0;
	background-color: #bbbfb2;
	color: #261201;
}

#menu h2 {
	font-size:16px;
	padding-top:10px;
	text-transform:uppercase;
	color: #7d7f77;
	background-color: transparent;
}	

#menu ul {
	padding-left: 20px;
	list-style-type: square;
}


#cc_attribution {
	margin-left: 220px;
	padding-left: 0px;
	font-size: xx-small;
}



fieldset {
	border: none; /*1px solid #e82a33;*/
}

fieldset legend {
	font-variant: small-caps;
}


input, textarea, select {
	background-color: #bbbfb2;
	border: 1px solid #261201;
}


.image {
	float: left;
	padding: 10px 0px 0px 10px;
	margin: 0 1em 1em 0;
	background-color: #a69958;
	border: 1px solid #261201;
}

.image div {
	font-size: 70%;
    text-align: center;
	padding: 0;
	margin: 0;
	width: 90%;
}


/* styles for specific templates */

/* new */
.detail_block dt {
	background-color: #bbbfb2;
}

.detail_block .notes {
	background-color: #bbbfb2;
}

.detail_block .notes pre {
	color: black;
}

.detail_block .notes .new_status {
	color: white;
}


/* new note */
#new_note_form #id_note {
	width: 100%;
	height: 5em;
}
	
}
